.lsn-wrapper{
    position: relative;
    font-family: Arial;
}
.lsn-wrapper_measure{
    z-index: -1;

    width: 100%;
    height: 80px;

    position: absolute;
    bottom: 0px;

    background: url("../sprite.png");
    background-size: 100% 100%
}
.lsn-wrapper_bow-abs{
    position: absolute;
    display: inline-block;

    width: 100px;
    text-align: center;

    font-size: 13px;
    color: #5F5E5E;
}
.lsn-wrapper_bow-input{
    position: absolute;

    width: 14px;
    height: 15px;

    text-align: center;
    font-size: 12px;
    color: blue;

    border-radius: 4px;
    border: 2px solid #c6c6c6;
}
.lsn-wrapper_input--invalid{
    color: red;
}
.numbers-wrapper{
    position: absolute;
    top: 50px;
    /*display: table-cell;*/
    /*vertical-align: middle;*/

    width: 100%;
    height:50px;
    line-height: 50px;

    text-align: center;
    font-size: 24px;
}
.numbers-wrapper_solve-input{
    height: 24px;
    width: 36px;

    text-align: center;
    font-size:22px;

    border-radius: 4px;
    border: 2px solid #c6c6c6;
}