path {
    stroke: #ED4176;
    stroke-width: 2;
    fill: none;
}
path.arrow{
    stroke-width: 0.7px;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}